.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 30px;
  font-size: 12;
  display: flex;
  justify-content: center;
}
  
.el-aside {
  color: #333;
  position: relative;
  overflow: hidden;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.el-select {
  width: 250px;
}

.web-preview {
  background: #ddd; 
  display: flex; 
  flex-grow: 1; 
  height: 100%;
  position: relative;
  align-items: center;
  overflow-y: auto;
  .index, .live, .game {
    color: #fff;
    display: flex;
    text-align: center;
  }
  .index {
    background: rgb(69, 91, 145);
  }
  .live {
    background: rgb(63, 47, 101);
  }
  .game {
    background: #333;
  }
}

.side-content {
  width: 100%;
  position: absolute;
  border-right: 1px solid #DCDFE6;
  &.main {
    z-index: 0;
  }
  &.setting {
    z-index: 1;
    li:nth-child(1) {
      justify-content: center;
      background: #cdddf3;
    }
  }
}

  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding: 10px;
      border-bottom: 1px solid #DCDFE6;
      display: flex;
      justify-content: flex-start;
      position: relative;
      &:hover {
        border-right: 4px solid rgb(55, 88, 164);
      }
      .el-button {
        top: 0;
        position: absolute;
        background: transparent;
        border: 0;
        padding: 0;
        &:hover {
          background: transparent;
        }
        &.btn-setting {
          right: 0;
        }
        &.btn-back {
          left: 0;
        }
      }
    }
  }

.mobile-preview {
  background: #ddd; 
  width: 375px;
  max-height: 667px; 
  height: 100%;
  margin: 0 auto;
}

.other-setting {
  position: absolute;
  bottom: 0;
}

.el-icon-more {
  transform:rotate(90deg);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.buttons {
  margin-top: 35px;
}
.ghost {
  opacity: .5;
  background: #c8ebfb;
}
.list-group {
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0,0,0, .2);
  background: #fff;
  height: 170px;
  overflow-y: auto;
}

// .list-group-item {
//   border: 1px solid #ddd;
//   background: #fff;
//   &:hover{border-right: 4px solid rgb(55, 88, 164);}
// }